body{
    background-color: rgb(65, 114, 220);
    font: normal 15px arial;
}
header{ 
  color: white;
  text-align: center;
}
section{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 550px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.386);
    

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}