body{
    background-color: rgb(10, 105, 140);
}

header{
color: white;
text-align: center;
}
section{
    background-color: white;
    padding: 50px;
    height: 300px;
    width: 500px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.233);
    
}
select#flista {
 width: 150px;
}


footer{
color: white;
text-align: center;
font-style: italic;
padding: 20px;
}