body{
background-color: rgb(9, 93, 129);
font: normal 15px arial;

}
header{
color: white;
text-align: center;

}
img{
border-radius: 70%;
height: 250px;
width: 250px;
padding: 45px;
text-align: center;

}
section{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.518);
  
   
    }
footer{
color: white;
text-align: center;
font-style: italic;

}